*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Franklin Gothic Medium';
}
a{
  text-decoration: none;
  display: inline-block;
}
.header-top-strip{
  border-bottom: 1px solid white ;
  background-color:dodgerblue
}
.header-top-upper{
 
  background-color: white
}

.form-control:focus{
  box-shadow: none;
  border-color: inherit;
}
.footer-bottom-strip{
  border-bottom: 1px solid white ;
  background-color:dodgerblue
}

.col-end{
  justify-content: end;
}